@tailwind base;
@tailwind components;
@tailwind utilities;

.background-img{
    background-image: url("./Images/witcher.png");
    background-size: cover;
    background-position: top center ;
}

.overflow_x{
    @apply overflow-x-scroll flex overflow-y-hidden;
}
.overflow_x::-webkit-scrollbar{
    display: none ;
}

.overflow_y{
    @apply flex flex-col mr-14 overflow-y-scroll overflow-x-hidden h-48 ;
}

.overflow_y::-webkit-scrollbar{
    display: none ;
}
